<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      header {
        background-color: red;
      }
      ul li {
        display: flex;
        display: inline;
        margin: 1px;
        padding: 5px;
      }
      ul li a {
        color: white;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <%- include('header'); %>
    <h1>ABOUT PAGE....</h1>
  </body>
</html>
