<header>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/signup">SIGNUP</a></li>
    <li><a href="/users">USERS</a></li>
    <input type="text" name="" id="" placeholder="search" class="box" />
    <button class="btn-effect-7">SEARCH</button>
  </ul>
</header>
